!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title= "#{current_page.data.title} - #{current_page.data.trip_name}"
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }
    = external_pipeline_stylesheet_tag :webpack, ['styles.css', 'src'], media: 'all'
    = external_pipeline_javascript_tag :webpack, ['site.js', 'src']
    = favicon_tag 'favicon.ico'
    %link{ href: '/humans.txt', rel: 'author' }
    %meta{ content: 'Sean Eshbaugh', name: 'author' }
  %body
    %header.header
      %h1.page-title= current_page.data.title
      %h2.trip-name= current_page.data.trip_name
      %nav.main-nav
        %ul.trips-nav-list
          - trips_reverse_chronological.each do |trip|
            %li.trips-nav-list-item= link_to(trip.name, app.production? || trip.slug.empty? ? "/#{trip.slug}" : "/#{trip.slug}.html")
      .controls
        %button.control.off{"data-key" => "price", "data-selector" => ".price"} Prices
        %button.control.on{"data-key" => "hotel", "data-selector" => ".hotel"} Hotels
        %button.control.on{"data-key" => "airport", "data-selector" => ".airport"} Airports
        %button.control.on{"data-key" => "flight", "data-selector" => ".flight"} Flights
        %button.control.on{"data-key" => "rental-car", "data-selector" => ".renatal-car"} Rental Cars
        %button.control.off{"data-key" => "optional", "data-selector" => ".attraction.optional"} Optional
        %button.control.on{"data-key" => "minor", "data-selector" => ".attraction.minor"} Minor
        %button.control.on{"data-key" => "normal", "data-selector" => ".attraction.normal"} Normal
        %button.control.on{"data-key" => "major", "data-selector" => ".attraction.major"} Major
        %button.control.on{"data-key" => "meal", "data-selector" => ".meal"} Meals
    = yield
