%h6= airport.name
.links
  - airport.links&.each do |link|
    %div{ class: "link #{link.type}" }
      %a{ href: link.url, target: '_blank' }
- if airport.info&.address
  .info.address= airport.info.address
- if airport.info&.phone
  .info.phone= airport.info.phone
- if airport.info&.frommers_guide_book_page
  %cite.info.frommers-guide-book-page= "Frommer's pg. #{airport.info.frommers_guide_book_page}"
