.airport
  %h6.name= "#{airport.name} (#{airport.code})"
  = partial('links', locals: { links: airport.links })
  - if airport.address
    .address= airport.address
  - if airport.phone
    .phone= airport.phone
  - if airport.info&.frommers_guide_book_page
    %cite.frommers-guide-book-page= "Frommer's pg. #{airport.info.frommers_guide_book_page}"
