%div{ class: ['event', 'attraction', attraction.priority, attraction.type].compact.join(' ') }
  %h4.name= attraction.name
  = partial('links', locals: { links: attraction.links })
  - if attraction.address
    .address= attraction.address
  - if attraction.phone
    .phone= attraction.phone
  - if attraction.frommers_guide_book_page
    %cite.frommers-guide-book-page= attraction.frommers_guide_book_page
  - if event.notes_danger
    .notes.danger= event.notes_danger
  - elsif event.notes
    .notes= event.notes
