.day
  %h3.name= "Day #{day.name} - #{DateTime.strptime(day.date, '%Y-%m-%d').strftime('%A %b %-d')}"
  - events(leg.id, day.id).each do |event|
    - case event.eventable_type
    - when 'attraction'
      = partial('attraction', locals: { event: event, attraction: eventable(event.eventable_type, event.eventable_id) })
    - when 'flight'
      = partial('flight', locals: { event: event, flight: eventable(event.eventable_type, event.eventable_id) })
    - when 'meal'
      = partial('meal', locals: { event: event, meal: eventable(event.eventable_type, event.eventable_id) })
