.event.flight
  %h4.name Flight
  .departure
    %h5.name Departure
    .departure-location
      = partial('airport', locals: { airport: airport(flight.departure_airport_id) })
    .flight-number= flight.flight_number
    .departure-time= flight.departure_time
    .duration= flight.duration
  - if flight.connections
    .connections
      %h5.name Connections
      - flight.connections.each do |connection|
        .connection
          .connection-location
            = partial('airport', locals: { airport: airport(connection.connection_airport_id) })
          .flight-number= connection.flight_number
          .connection-arrival-time= connection.connection_arrival_time
          .connection-departure-time= connection.connection_departure_time
          .connection-layover-duration= connection.connection_layover_duration
          .connection-duration= connection.connection_duration
  .arrival
    %h5.name Arrival
    .arrival-location
      = partial('airport', locals: { airport: airport(flight.arrival_airport_id) })
    .arrival-time= flight.arrival_time
  - if flight.connections
    .total-duration= flight.total_duration
  - if flight.price
    .price= flight.price
