.hotel
  %h3.name= hotel.name
  = partial('links', locals: { links: hotel.links })
  - if hotel.address
    .address= hotel.address
  - if hotel.phone
    .phone= hotel.phone
  - if hotel.frommers_guide_book_page
    %cite.frommers-guide-book-page= "Frommer's pg. #{hotel.frommers_guide_book_page}"
  - if hotel_stay = stay(trip.id, leg.id, hotel.id)
    - if hotel_stay.price
      .price= hotel_stay.price
    - if hotel_stay.room_type
      .room-type= hotel_stay.room_type
