.rental-car{ data: { 'rental-car-id' => rental_car.id } }
  %h3.name Rental Car
  .company= rental_car.company
  .car-make-model= rental_car.car_make_model
  .price.hide= rental_car.price
  .pickup
    %h4.name Pickup
    .location= "#{airport(rental_car.pickup_location_airport_id).name} (#{airport(rental_car.pickup_location_airport_id).code})"
    .date= DateTime.parse(rental_car.pickup_datetime).strftime('%Y-%m-%d')
    .time= DateTime.parse(rental_car.pickup_datetime).strftime('%I:%M %p')
  .dropoff
    %h4.name Dropoff
    .location= "#{airport(rental_car.dropoff_location_airport_id).name} (#{airport(rental_car.dropoff_location_airport_id).code})"
    .date= DateTime.parse(rental_car.dropoff_datetime).strftime('%Y-%m-%d')
    .time= DateTime.parse(rental_car.dropoff_datetime).strftime('%I:%M %p')
