- a = attraction(visit.attraction_id)
%div.event.visit{ class: ['event', 'visit', a.priority, a.type].compact.join(' '), data: { 'event-id' => event.id, 'eventable-id' => visit.id, 'eventable-type' => 'visit', 'visit-id' => visit.id } }
  .attraction{ data: { 'attraction-id' => a.id } }
    %h4.name= a.name
    = partial('links', locals: { links: a.links })
    - if a.address
      .address= a.address
    - if a.phone
      .phone= a.phone
    - if a.frommers_guide_book_page
      %cite.frommers-guide-book-page= a.frommers_guide_book_page
  - if visit.notes_danger
    .notes.danger= visit.notes_danger
  - elsif visit.notes
    .notes= visit.notes
  .visitors
    = visit_people(visit.id).map { |person| person.name }.join(', ')
  - ps = pictures(event.id)
  - if ps.length > 0
    .pictures-toggle Show Pictures
    .pictures
      - ps.each do |picture|
        %a.picture.lightbox{ href: "pictures/#{picture.filename}", 'data-gallery' => "gallery-#{event.id}", 'data-glightbox' => "title: #{picture.title};description: #{picture.description}" }
          %img{ 'data-src' => "pictures/#{picture.filename}" }
